<?xml version="1.0" encoding="UTF-8"?>
<display_options>
  <platform name="*">
    <option name="interactive">true</option>
    <option name="fixed-layout">true</option>
    <option name="open-to-spread">true</option>
  </platform>
</display_options>