body {
    color: #{{ .View.Color.Foreground }};
    background: #{{ .View.Color.Background }};
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: {{ .View.Width }}px;
    height: {{ .View.Height }}px;
    text-align: center;
}

img {
  position: absolute;
  margin:0;
  padding:0;
  z-index:0;
  object-fit: contain;
}
