body {
    color: #{{ .Foreground }};
    background: #{{ .Background }};
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: {{ .Width }}px;
    height: {{ .Height }}px;
    text-align: center;
}

img {
  position: absolute;
  margin:0;
  padding:0;
  z-index:0;
  object-fit: contain;
}
