body {
    color: #000;
    background: #FFF;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: {{ .PageWidth }}px;
    height: {{ .PageHeight }}px;
    text-align: center;
}

img {
  position: absolute;
  margin:0;
  padding:0;
  z-index:0;
  top:0;
  left:0;
  width: {{ .PageWidth }}px;
  height: {{ .PageHeight }}px;
}