@page {
  margin: 0;
  padding: 0;
}

body {
  color: #{{ .View.Color.Foreground }};
  background: #{{ .View.Color.Background }};
  display: block;
  margin: 0;
  padding: 0;
}

div {
  margin: 0;
  padding: 0;
  position: relative;
  text-align: center;
}

img {
  margin: 0;
  padding: 0;
}