@page {
  margin: 0;
  padding: 0;
}

body {
  color: #{{ .View.Color.Foreground }};
  background: #{{ .View.Color.Background }};
  width: {{ .View.Width }}px;
  height: {{ .View.Height }}px;
  margin: 0;
  padding: 0;
}

div {
  margin: 0;
  padding: 0;
  text-align: center;
  position: absolute;
}

span {
  margin: 0;
  padding: 0;
  text-indent: 0;
}

img {
  margin: 0;
  padding: 0;
}