#PV {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

#PV-T {
    top: 0;
    width: 100%;
    height: 50%;
}

#PV-B {
    bottom: 0;
    width: 100%;
    height: 50%;
}

#PV-L {
    left: 0;
    width: 49.5%;
    height: 100%;
    float: left;
}

#PV-R {
    right: 0;
    width: 49.5%;
    height: 100%;
    float: right;
}

#PV-TL {
    top: 0;
    left: 0;
    width: 49.5%;
    height: 50%;
    float: left;
}

#PV-TR {
    top: 0;
    right: 0;
    width: 49.5%;
    height: 50%;
    float: right;
}

#PV-BL {
    bottom: 0;
    left: 0;
    width: 49.5%;
    height: 50%;
    float: left;
}

#PV-BR {
    bottom: 0;
    right: 0;
    width: 49.5%;
    height: 50%;
    float: right;
}

.PV-P {
    width: 100%;
    height: 100%;
    top: 0;
    position: absolute;
    display: none;
}