<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:epub="http://www.idpf.org/2007/ops">
<head>
<title>Part {{ .Part }}</title>
<link href="style.css" type="text/css" rel="stylesheet"/>
<meta name="viewport" content="width={{ .Info.ViewWidth }}, height={{ .Info.ViewHeight }}"/>
</head>
<body style="">
<div style="text-align:center;top:0.0%;">
<h1>
    <p>
    {{ .Info.Title }}
    </p>
    <p>
    Part {{ .Part }} / {{ .Total }}
    </p>
</h1>
</div>
</body>
</html>